@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #6666CC;
}

.container {
  padding-right: 5px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.navbar {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

// .navbar {
//   background-color: rgba(33, 150, 243, 1);
//   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// }

// .pager {
//   margin: 10px;
// }

// .pager li > a,
// .pager li > span,
// .btn-default,
// .form-control,
// .btn-secondary,
// .nav-pills > li {
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// }

// .pager li > a:hover,
// .btn-default:hover,
// .form-control:hover,
// .btn-secondary:hover,
// .nav-pills > li:hover {
//   box-shadow: 3px 5px 10px rgba(0,0,0,0.25), 3px 5px 10px rgba(0,0,0,0.22);
// }

// .pager li > a,
// .pager li > span {
//   margin: 0 5px;
//   border: 0;
//   border-radius: 0px;
//   font-size: 130%;
// }

// .pager > li.updater > a,
// .pager > li.updater > span {
//   box-shadow: 0 0 0;
//   color: white;
//   border-radius: 50%; 
//   background-color: #0D47A1;  
// }thu

// .pager > li.updater > a:hover,
// .pager > li.updater > a:focus,
// .pager > li.updater > span {
//   box-shadow: 0 0 3px;
//   animation: waiting 1.8s infinite;
//   -moz-animation: waiting 1.8s infinite;
//   -webkit-animation: waiting 1.8s infinite; 
// }

// @-moz-keyframes waiting {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }

// @-webkit-keyframes waiting {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }

// .nav-pills > li.active > a,
// .nav-pills > li.active > a:hover,
// .nav-pills > li.active > a:focus {
//   color: #fff;
//   background-color: rgba(33, 150, 243, 0.9);
// }

// h6 {
//   color: grey;
//   font-style: italic;
// }

.nav-pills > li > a {
  color: #666;
  border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #eee;
  background-color: #668;
}

li {
  list-style-type: none;
}

ol > li {
  list-style-type: decimal;
}

.content-image {
  width: 100%;
}

.thumbnail {
  padding: 10px;
  border-radius: 0;
  border: 0;
  background-color: #eef;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main-text-content {
  text-align: justify;
}

a.navbar-brand:hover>.glyphicon-refresh,
a.navbar-brand:focus>.glyphicon-refresh {
  animation: waiting 1.8s infinite;
  -moz-animation: waiting 1.8s infinite;
  -webkit-animation: waiting 1.8s infinite; 
}

@keyframes waiting {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-moz-keyframes waiting {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes waiting {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@media (orientation: portrait) {
  body {
    padding: 20px 20px;
  }
  
  ul {
    margin-left: 0;
    padding-left: 0;  
  }

  ol {
    margin-left: 7px;
    padding-left: 0; 
  }

  .main-text-content {
    text-align: justify;
  }
  .thumbnail {
    background-color: #fff;
    box-shadow: 0 0 0;
    padding: 0 0 20px;
  }
}

@media (max-width: 767px) {
  .navbar-center {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .thumbnail {
    background-color: #fff;
    box-shadow: 0 0 0;
  }
}

.article-link:hover,
.article-link:focus {
  text-decoration: none;
}

.article-link,
.article-link {
  color: #444;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.btn-delete {
  margin-top: 10px;
}

.err {
  margin-top: 10px;
  color: red;
}

.system-messages {
  margin-top: 40px;
}

.alert {
  margin-bottom: 10px;
}

::selection {
  background-color: #b5e2e7;
}

::-moz-selection {
  background-color: #8ac7d8;
}

#logbox {
  padding: 10px;
  margin: 10px auto;
  width: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  font-size: 175%;
  color: #757575;
  font-weight: 300;
}

h1, input {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: #aaf !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: #3CC;
  border: none;
  color: #eee;
  background-color: #668;
}
.inputButton:hover {
  top: 2px;
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}