body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container,
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.navbar {
  background-image: linear-gradient(to top, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 1));
  height: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pager {
  margin: 10px;
}

.pager li > a,
.pager li > span,
.btn-default,
.form-control,
.btn-secondary,
.nav-pills > li {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pager li > a:hover,
.btn-default:hover,
.form-control:hover,
.btn-secondary:hover,
.nav-pills > li:hover {
  box-shadow: 3px 5px 10px rgba(0,0,0,0.25), 3px 5px 10px rgba(0,0,0,0.22);
}

.pager li > a,
.pager li > span {
  margin: 0 5px;
  border: 0;
  border-radius: 0px;
}

h6 {
  color: grey;
  font-style: italic;
}

li {
  list-style-type: none;
}

@media (orientation: portrait) {
  ul {
    margin-left: 0;
    padding-left: 0;   
  }
}

.err {
  color: red;
}

.btn-default {
  margin-top: 10px;
  border-radius: 0px;
}

.form-control,
.btn-secondary {
  border-radius: 0px;  
  border: 1px solid #ccc;
}

.form-control:hover,
.btn-secondary:hover {
  z-index: 10;
}

.nav-pills > li > a {
  border-radius: 0px;
}