extends layout

block content
  h2.main-title Новости
  hr
    ul.nav.nav-pills
    each src in sources
      if (src._id == currentId)
        li.active(role="presentation"): a(href= src._id)= src.title
      else
        li(role="presentation"): a(href= src._id)= src.title
    else
      p Нет источников.
  hr
  ul
    each val in articles
      if ((articles.indexOf(val)) % 3 === 0)
        .row.row-eq-height
      .col-md-4
        .thumbnail
          li
            h4.article-title!= val.title
            //- img.content-image(src!= val.imageLink)
            p.main-text-content!= val.description 
            a(href= val.link) подробнее... 
            h6= val.date
    else 
      li Нет новостей.